<section id="adventures" class="pt-page page-layout portfolio adventures">
<!-- .content -->
<div class="content">
    <!-- .layout-medium -->
    <div class="layout-medium">
        <!-- page-title -->
        <h1 class="page-title">
            <i class="pe-7s-world"></i>my adventures
        </h1>
        <!-- page-title -->

        <!-- FILTERS - begin -->
        <ul id="filters" class="filters">
            <li class="current">
                <a href="#" data-filter="*">all</a>
            </li>

            <li th:if="${adventureTypes != null}"
                th:each="type: ${adventureTypes}">
                <a href="#" th:attr="data-filter=${type}"
                   th:text="${type}">Adventure type
                </a>
            </li>
        </ul>
        <!-- FILTERS - end -->

        <!-- ADVENTURES - begin -->
        <div class="portfolio-items media-grid masonry" data-layout="masonry" data-item-width="340">
            <!-- adventure-item -->
            <div th:if="${adventureTypes != null}"
                 th:each="adventure: ${adventures}"
                 th:classappend="${adventure.cssClass}">
                <div class="media-box">
                    <img th:src="${adventure.image}" th:alt="${adventure.altImage}"></img>
                    <div class="mask"></div>

                    <a th:if="${adventure.adventureMedia != null}"
                       th:each="media: ${adventure.adventureMedia}"
                       th:href="${media.mediaUrl}"
                       th:classappend="${adventure.mediaCssClass}"
                       th:title="${media.title}" ></a>
                    <a th:if="${adventure.adventureMedia == null}"
                       th:each="media: ${adventure.adventureMedia}"
                       th:href="${media.mediaUrl}"
                       th:classappend="$!{adventure.mediaCssClass}"
                       th:title="${media.title}" ></a>
                </div>

                <div class="media-cell-desc">
                    <h3 th:text="${adventure.title}">title</h3>
                    <p class="category" th:text="${adventure.category}">category</p>
                </div>
            </div>
        </div>
        <!-- ADVENTURES - end -->
    </div>
    <!-- .layout-medium -->
</div>
<!-- .content -->
</section>