<!-- PAGE : BLOG -->
<section id="blog" class="pt-page page-layout">
    <!-- .content -->
    <div class="content">
        <!-- .layout-medium -->
        <div class="layout-medium">

            <!-- page-title -->
            <h1 class="page-title">
                <i class="pe-7s-notebook"></i>from the blog
            </h1>
            <!-- page-title -->

            <!-- LATEST POSTS - begin -->
            <div class="latest-posts media-grid masonry" data-layout="masonry" data-item-width="340">

                <!-- blog-item -->
                <div th:if="${not #lists.isEmpty(blogs)}"
                     th:each="blog: ${blogs}"
                     th:classappend="${blog.cssClass}">
                    <div class="media-box">
                        <img th:src="${blog.image}" th:alt="${blog.altImage}"></img>
                        <div class="mask"></div>
                        <a th:href="${blog.articleUrl}"
                           th:classappend="${blog.mediaCssClass}"></a>

                        <header th:if="${blog != null}"
                                class="media-cell-desc">
                            <span th:title="${#dates.format(blog.formattedDatetime, 'yyyy')}" class="date">
                                <span class="day" th:text="${#dates.format(blog.formattedDatetime, 'dd')}">day</span>
                                <span th:text="${#dates.format(blog.formattedDatetime, 'MMMM')}">month</span>
                            </span>
                            <h3>
                                <a th:href="${blog.articleUrl}"
                                   th:text="${blog.title}">title</a>
                            </h3>
                        </header>
                    </div>

                    <div class="media-cell-desc">
                        <h3 th:text="${blog.title}">title</h3>
                        <p class="category" th:text="${blog.category}">category</p>
                    </div>
                </div>
            </div>
            <!-- LATEST POSTS - end -->

            <p class="launch">
                <a class="button" href="blog.html">SEE ALL POSTS</a>
            </p>

        </div>
        <!-- .layout-medium -->
    </div>
    <!-- .content -->
</section>
<!-- PAGE : BLOG -->