<!DOCTYPE html>
<html lang="en" class="no-js one-page-layout" data-mobile-classic-layout="true" data-classic-layout="false" data-prev-animation="16" data-next-animation="15" data-random-animation="false">
<head>
    <div th:substituteby="/includes/head" ></div>
</head>
<body>
    <!-- PAGE -->
    <div id="page" class="hfeed site">

        <!-- HEADER -->
        <header id="masthead" class="header" role="banner">
            <a class="menu-toggle toggle-link"></a>
            <h1 class="site-title mobile-title">DANIELE AUTIZI</h1>

            <!-- header-wrap -->
            <div class="header-wrap">

                <img th:src="${staticConfig.staticBaseUrl + '/images/site/avatar-cartoonized.png'}" alt="avatar"></img>

                <h1 class="site-title">DANIELE AUTIZI</h1>

                <!-- NAV MENU -->
                <div th:substituteby="/includes/nav-menu" ></div>
                <!-- NAV MENU -->

                <!-- SEARCH --> 
                <!-- #parse("includes/search-form.html") -->
                <!-- SEARCH -->

                <!-- header-bottom -->
                <div class="header-bottom">

                    <!-- SOCIAL -->
                    <div th:substituteby="/includes/social-list" ></div>
                    <!-- SOCIAL -->

                    <!-- copy-text -->
                    <div class="copy-text">
                        <p>&copy; 2016 Daniele Autizi</p>
                    </div>
                    <!-- copy-text -->

                </div>
                <!-- header-bottom -->

            </div>
            <!-- header-wrap -->

        </header>
        <!-- HEADER -->

        <!-- .site-main -->
        <div id="main" class="site-main"> <!-- PAGE : HOME -->
            <section id="home" class="pt-page page-layout light-text home-section has-bg-img"
                     th:style="'background-image:url(' + ${staticConfig.staticBaseUrl} + '/images/site/homepage.jpg)'">
                <!-- .content -->
                <div class="content">
                    <!-- .layout-medium -->
                    <div class="layout-medium">
                        <h4>Hi, I am</h4>
                        <h2>Daniele Autizi</h2>
                        <h4>I am <strong id="typist-element" data-typist="an adventurer., a football fan., a music lover., a dreamer.">a software engineer.</strong></h4>
                    </div>
                    <!-- .layout-medium -->
                </div>
                <!-- .content -->
            </section>
            <!-- PAGE : HOME -->

            <!-- PAGE : ABOUT -->
            <div th:substituteby="/pages/about-me" ></div>
            <!-- PAGE : ABOUT -->

            <!-- PAGE : RESUME -->
            <div th:substituteby="/pages/resume" ></div>
            <!-- PAGE : RESUME -->

            <!-- PAGE : ADVENTURES -->
            <div th:substituteby="/pages/adventures" ></div>
            <!-- PAGE : ADVENTURES -->

            <!-- PAGE : BLOG -->
            <!--#parse("pages/blogs.html") -->
            <!-- PAGE : BLOG -->

            <!-- PAGE : CONTACT -->
            <!--#parse("pages/contact.html") -->
            <!-- PAGE : CONTACT -->
        </div>
        <!-- .site-main -->

    </div>
    <!-- PAGE -->

    <!-- PORTFOLIO SINGLE AJAX CONTENT CONTAINER -->
    <div class="p-overlay"></div>
    <div class="p-overlay"></div>

    <!-- ALERT : used for contact form mail delivery alert -->
    <div class="site-alert animated"></div>

    <!--
    #parse("logging/log.html")
    <div th:substituteby="/logging/log" ></div>
    -->

    <div th:substituteby="/includes/footer" ></div>
</body>
</html>