<!-- col -->
<div class="col-sm-7">
    <div class="event">
        <h2>WORK HISTORY</h2>
        <p>
        <i class="pe-7s-ribbon"></i>
        </p>
    </div>

    <div class="event"
         th:if="${workExperiences != null}"
         th:each="workExperience : ${workExperiences}">

        <h3 th:text="${workExperience.period}">period</h3>
        <h4 th:text="${workExperience.role}">role</h4>
        <h5 th:text="${workExperience.company}">company</h5>
        <p th:utext="${workExperience.description}">description</p>
    </div>

    <div class="event">
        <h2>EDUCATION</h2>
        <p>
            <i class="pe-7s-study"></i>
            <!--<img src="images/site/icon-03.png" alt="image"/>-->
        </p>
    </div>

    <div class="event"
         th:if="${educations != null}"
         th:each="education : ${educations}">

        <h3 th:text="${education.period}">period</h3>
        <h4 th:text="${education.title}">title</h4>
        <h5 th:text="${education.school}">school</h5>
        <p th:utext="${education.description}">description</p>
    </div>

    <p th:if="${curriculumVitae != null &amp;&amp; curriculumVitae.link != ''}">
        <a th:href="${curriculumVitae.link}" class="button" title="${curriculumVitae.title}">
            <i class="pe-7s-download"></i>Download CV
        </a>
    </p>
</div>
<!-- col -->