<!-- SCRIPTS -->
<script th:src="${staticConfig.staticBaseUrl + '/js/jquery.address-1.5.min.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/smoothscroll.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/nprogress/nprogress.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/fastclick.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/typist.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/imagesloaded.pkgd.min.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/jquery.isotope.min.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/jquery.fitvids.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/jquery.validate.min.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/jquery.uniform/jquery.uniform.min.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/jquery.magnific-popup/jquery.magnific-popup.min.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/socialstream.jquery.js'}"></script>
<script th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleConfig.map?.apiKey} + '&amp;v=3.exp&amp;sensor=false'"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/main.js'}"></script>
<script th:src="${staticConfig.staticBaseUrl + '/js/general.js'}"></script>