<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
    <div class="nav-menu" data-homepage-redirect="$!{config.baseUrl}">
        <ul>
            <li>
                <a href="#/home" class="homepage-redirect"><i class="pe-7s-home"></i>Home</a>
            </li>
            <li>
                <a href="#/about" class="homepage-redirect"><i class="pe-7s-user"></i>About Me</a>
            </li>
            <li>
                <a href="#/resume" class="homepage-redirect"><i class="pe-7s-id"></i>Resume</a>
            </li>
            <li>
                <a href="#/adventures" class="homepage-redirect"><i class="pe-7s-map-2"></i>Adventures</a>
            </li>
            <li>
                <a href="#/blog" class="homepage-redirect"><i class="pe-7s-notebook"></i>Blog</a>
            </li>
            <li>
                <a href="#/contact" class="homepage-redirect"><i class="pe-7s-call"></i>Contact</a>
            </li>
        </ul>
    </div>
</nav>