<nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
    <div class="nav-menu">
        <ul>
            <li id="homeli">
                <a href="#/home"><i class="pe-7s-home"></i>Home</a>
            </li>
            <li id="aboutmeli">
                <a href="#/about"><i class="pe-7s-user"></i>About Me</a>
            </li>
            <li id="resumeli">
                <a href="#/resume"><i class="pe-7s-id"></i>Resume</a>
            </li>
            <li id="adventuresli">
                <a href="#/adventures"><i class="pe-7s-map-2"></i>Adventures</a>
            </li>
            <li id="blogli">
                <a href="#/blog"><i class="pe-7s-notebook"></i>Blog</a>
            </li>
            <li id="contactli">
                <a href="#/contact"><i class="pe-7s-call"></i>Contact</a>
            </li>
        </ul>
    </div>
</nav>